.principal {
  margin: 20px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.288);
  border-radius: 15px; }
  .principal h1 {
    font-size: calc(1.5rem + 1vw);
    color: #e94646;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    text-decoration: underline; }
  .principal .texto_bienvenida {
    margin: 10px;
    padding: 5px;
    font-size: 1.2rem;
    color: #ec7f7f;
    font-weight: bold;
    display: flex;
    justify-content: center; }
  .principal .programa {
    padding: 20px;
    margin: 0 auto;
    width: 80%;
    height: 300px;
    background-color: #9e9e9e;
    border-radius: 9px;
    align-items: center; }
    .principal .programa .botonE {
      width: auto;
      font-family: 'Roboto', sans-serif;
      background-color: #000000b6;
      color: white;
      border: none;
      cursor: pointer;
      text-transform: uppercase; }
      .principal .programa .botonE:hover {
        border: solid 1px; }
    .principal .programa .boton {
      padding: 10px;
      margin: 10px;
      font-family: 'Roboto', sans-serif;
      background-color: #000000b6;
      color: white;
      border: none;
      cursor: pointer;
      text-transform: uppercase;
      transition: .3s ease-in-out all; }
      .principal .programa .boton:hover {
        border: solid 2px; }
    .principal .programa .formularioTitulo {
      width: 100%;
      display: flex;
      justify-content: center;
      background-color: #8f68d6;
      border-radius: 3px; }
      .principal .programa .formularioTitulo h3 {
        width: 100%;
        margin: 0 auto;
        font-weight: bold;
        font-size: calc(1rem + 1vw);
        font-family: 'Roboto', sans-serif;
        color: white;
        align-items: center;
        display: flex;
        justify-content: center; }
      .principal .programa .formularioTitulo #inputTitulo {
        width: 100%;
        margin: 0 auto;
        font-weight: bold;
        font-size: calc(1.5rem + 1vw);
        background-color: #8f68d6;
        display: flex; }
      .principal .programa .formularioTitulo #formularioEdicion {
        display: flex; }
    .principal .programa .contenedor {
      display: flex;
      flex-direction: row;
      justify-content: space-between; }
      .principal .programa .contenedor .listaEquipos {
        margin: 10px auto;
        padding: 10px;
        width: auto;
        max-height: 110px;
        background-color: rgba(255, 0, 0, 0.541);
        border-radius: 5px;
        font-size: 1rem;
        list-style-type: none;
        display: flex; }
        .principal .programa .contenedor .listaEquipos form {
          display: flex;
          flex-direction: column;
          align-items: center; }
          .principal .programa .contenedor .listaEquipos form label {
            margin-bottom: 5px;
            font-family: 'Roboto', sans-serif;
            font-size: calc(0.4rem + 1vw);
            font-weight: bold; }
          .principal .programa .contenedor .listaEquipos form input {
            margin-bottom: 10px;
            padding: 5px; }
        .principal .programa .contenedor .listaEquipos .boton_inicio {
          margin: 20px auto;
          display: flex;
          justify-content: center;
          max-width: 400px; }
          .principal .programa .contenedor .listaEquipos .boton_inicio .boton_programa {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 80px;
            background: #221fbdd7;
            color: #fff;
            font-family: 'Roboto', sans-serif;
            font-size: 20px;
            font-weight: 500;
            border: none;
            cursor: pointer;
            text-transform: uppercase;
            transition: .3s ease all;
            border-radius: 5px;
            position: relative;
            overflow: hidden; }
            .principal .programa .contenedor .listaEquipos .boton_inicio .boton_programa .icono {
              display: flex;
              align-items: center;
              position: absolute;
              z-index: 2;
              left: -40px;
              transition: .3s ease-in-out all;
              opacity: 0; }
              .principal .programa .contenedor .listaEquipos .boton_inicio .boton_programa .icono svg {
                color: #fff;
                width: 35px;
                height: 35px; }
            .principal .programa .contenedor .listaEquipos .boton_inicio .boton_programa .span {
              position: relative;
              transition: .4s ease-in-out all;
              position: absolute;
              left: 50%;
              transform: translateX(-50%); }
            .principal .programa .contenedor .listaEquipos .boton_inicio .boton_programa:hover .icono {
              left: calc(100% - 50px);
              opacity: 1; }
            .principal .programa .contenedor .listaEquipos .boton_inicio .boton_programa:hover .span {
              left: 30%; }
      .principal .programa .contenedor .contenedorCruces {
        margin: 10px auto;
        padding: 5px 20px 20px 20px;
        width: auto;
        background-color: rgba(17, 0, 255, 0.541);
        border-radius: 5px;
        color: white;
        overflow: auto;
        max-height: 200px;
        display: flex;
        flex-direction: column; }
        .principal .programa .contenedor .contenedorCruces h3 {
          margin-bottom: 5px;
          font-family: 'Roboto', sans-serif;
          font-size: calc(0.4rem + 1vw);
          font-weight: bold;
          text-decoration: underline; }
        .principal .programa .contenedor .contenedorCruces .casillaEquipos {
          padding: 10px;
          margin: 0 auto;
          list-style-type: decimal; }
          .principal .programa .contenedor .contenedorCruces .casillaEquipos li {
            width: 100%;
            margin: 0 auto;
            background-color: rgba(128, 128, 128, 0.555);
            font-size: 1.5rem; }
      .principal .programa .contenedor .tablaEquipos {
        border-collapse: collapse;
        margin: 10px auto;
        padding: 10px;
        background-color: rgba(255, 0, 0, 0.541);
        border-radius: 5px;
        font-size: 1rem; }
        .principal .programa .contenedor .tablaEquipos .inputEquipo {
          width: 80%; }
        .principal .programa .contenedor .tablaEquipos .inputPuntos {
          width: 80%; }
        .principal .programa .contenedor .tablaEquipos .equipoDes {
          text-align: center; }
        .principal .programa .contenedor .tablaEquipos .tablaHead th {
          background-color: #b9b9b9;
          padding: 10px; }
        .principal .programa .contenedor .tablaEquipos .thead th {
          margin: 5px;
          padding: 5px;
          font-family: 'Roboto', sans-serif;
          font-size: calc(0.3rem + 1vw); }

.principal1 {
  margin: 40px 20px 20px 20px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.288);
  border-radius: 15px; }
  .principal1 h1 {
    font-size: 2rem;
    color: #e94646;
    display: flex;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    text-decoration: underline; }
  .principal1 h2 {
    font-size: 2rem;
    color: #e94646;
    display: flex;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    text-decoration: underline; }
  .principal1 h3 {
    margin: 20px auto;
    font-weight: bold;
    font-size: 48px;
    display: flex;
    font-family: 'Roboto', sans-serif;
    justify-content: center; }
  .principal1 h4 {
    background-color: rgba(255, 255, 255, 0.541);
    border-radius: 20px;
    font-size: 1.5rem;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center; }
  .principal1 .texto_bienvenida {
    margin: 10px;
    padding: 5px;
    font-size: 1.2rem;
    color: #ec7f7f;
    font-weight: bold;
    display: flex;
    justify-content: center; }
  .principal1 .formulario {
    margin: 20px auto;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.288);
    width: fit-content;
    border-radius: 15px;
    display: flex;
    align-items: center; }
    .principal1 .formulario p {
      margin-left: 10px;
      margin-right: 10px; }
  .principal1 .calculadora {
    margin: 20px auto;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.288);
    width: fit-content;
    border-radius: 15px;
    align-items: center; }
    .principal1 .calculadora button {
      width: max-content;
      padding: 5px;
      border-radius: 8px;
      border-color: #616161; }
    .principal1 .calculadora input {
      font-weight: bold; }
    .principal1 .calculadora #valor1 {
      width: 40%;
      padding: 5px;
      border-radius: 8px; }
    .principal1 .calculadora #valor2 {
      width: 45%;
      padding: 5px;
      border-radius: 8px; }
  .principal1 .contador {
    margin: 20px auto;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.288);
    width: fit-content;
    border-radius: 15px; }
  .principal1 .navBar {
    display: flex;
    width: 100%; }
    .principal1 .navBar .lista_servicios {
      margin: 50px auto;
      padding: 20px;
      width: 90%;
      max-width: 100%;
      background-color: rgba(255, 255, 255, 0.452);
      border-radius: 10px;
      list-style: none; }
      .principal1 .navBar .lista_servicios li {
        display: inline-block;
        text-align: center; }
        .principal1 .navBar .lista_servicios li:hover {
          background-color: rgba(0, 0, 0, 0.164); }
        .principal1 .navBar .lista_servicios li a {
          padding: 20px;
          text-decoration: none;
          font-size: 20px;
          display: block; }

body {
  background-color: #0e5c74;
  width: 100%; }
  body main {
    width: auto; }

@media screen and (max-width: 1024px) {
  body {
    background-color: #0e5c74;
    width: 100%; }
    body main .principal {
      margin: 20px;
      padding: 10px;
      background-color: rgba(0, 0, 0, 0.288);
      border-radius: 15px; }
      body main .principal h1 {
        font-size: calc(1.5rem + 1vw);
        color: #e94646;
        font-family: 'Roboto', sans-serif;
        display: flex;
        justify-content: center;
        text-decoration: underline; }
      body main .principal .texto_bienvenida {
        margin: 10px;
        padding: 5px;
        font-size: 1.2rem;
        color: #ec7f7f;
        font-weight: bold;
        display: flex;
        justify-content: center; }
      body main .principal .programa {
        padding: 20px;
        margin: 0 auto;
        width: 80%;
        height: 100%;
        background-color: #9e9e9e;
        border-radius: 9px;
        align-items: center; }
        body main .principal .programa .botonE {
          width: auto;
          font-family: 'Roboto', sans-serif;
          background-color: #000000b6;
          color: white;
          border: none;
          cursor: pointer;
          text-transform: uppercase; }
          body main .principal .programa .botonE:hover {
            border: solid 1px; }
        body main .principal .programa .boton {
          padding: 10px;
          margin: 10px;
          font-family: 'Roboto', sans-serif;
          background-color: #000000b6;
          color: white;
          border: none;
          cursor: pointer;
          text-transform: uppercase;
          transition: .3s ease-in-out all; }
          body main .principal .programa .boton:hover {
            border: solid 2px; }
        body main .principal .programa .formularioTitulo {
          width: 100%;
          display: flex;
          justify-content: center;
          background-color: #8f68d6;
          border-radius: 3px; }
          body main .principal .programa .formularioTitulo h3 {
            width: 100%;
            margin: 0 auto;
            font-weight: bold;
            font-size: calc(1rem + 1vw);
            font-family: 'Roboto', sans-serif;
            color: white;
            align-items: center;
            display: flex;
            justify-content: center; }
          body main .principal .programa .formularioTitulo #inputTitulo {
            width: 100%;
            margin: 0 auto;
            font-weight: bold;
            font-size: calc(1.5rem + 1vw);
            background-color: #8f68d6;
            display: flex; }
          body main .principal .programa .formularioTitulo #formularioEdicion {
            display: flex; }
        body main .principal .programa .contenedor {
          display: flex;
          flex-direction: column; }
          body main .principal .programa .contenedor .listaEquipos {
            margin: 10px auto;
            padding: 10px;
            width: auto;
            max-height: 110px;
            background-color: rgba(255, 0, 0, 0.541);
            border-radius: 5px;
            font-size: 1rem;
            list-style-type: none;
            display: flex; }
            body main .principal .programa .contenedor .listaEquipos form {
              display: flex;
              flex-direction: column;
              align-items: center; }
              body main .principal .programa .contenedor .listaEquipos form label {
                margin-bottom: 5px;
                font-family: 'Roboto', sans-serif;
                font-size: calc(0.4rem + 1vw);
                font-weight: bold; }
              body main .principal .programa .contenedor .listaEquipos form input {
                margin-bottom: 10px;
                padding: 5px; }
          body main .principal .programa .contenedor .boton_inicio {
            margin: 20px auto;
            display: flex;
            justify-content: center;
            max-width: 400px; }
          body main .principal .programa .contenedor .boton_programa {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 80px;
            background: #221fbdd7;
            color: #fff;
            font-family: 'Roboto', sans-serif;
            font-size: 20px;
            font-weight: 500;
            border: none;
            cursor: pointer;
            text-transform: uppercase;
            transition: .3s ease all;
            border-radius: 5px;
            position: relative;
            overflow: hidden; }
            body main .principal .programa .contenedor .boton_programa .icono {
              display: flex;
              align-items: center;
              position: absolute;
              z-index: 2;
              left: -40px;
              transition: .3s ease-in-out all;
              opacity: 0; }
              body main .principal .programa .contenedor .boton_programa .icono svg {
                color: #fff;
                width: 35px;
                height: 35px; }
            body main .principal .programa .contenedor .boton_programa .span {
              position: relative;
              transition: .4s ease-in-out all;
              position: absolute;
              left: 50%;
              transform: translateX(-50%); }
            body main .principal .programa .contenedor .boton_programa:hover .icono {
              left: calc(100% - 50px);
              opacity: 1; }
            body main .principal .programa .contenedor .boton_programa:hover .span {
              left: 30%; }
          body main .principal .programa .contenedor .contenedorCruces {
            margin: 92px auto auto auto;
            padding: 5px 20px 20px 20px;
            width: auto;
            background-color: rgba(17, 0, 255, 0.541);
            border-radius: 5px;
            color: white;
            overflow: auto;
            max-height: 200px;
            display: flex;
            flex-direction: column; }
            body main .principal .programa .contenedor .contenedorCruces h3 {
              margin-bottom: 5px;
              font-family: 'Roboto', sans-serif;
              font-size: calc(0.4rem + 1vw);
              font-weight: bold;
              text-decoration: underline; }
            body main .principal .programa .contenedor .contenedorCruces .casillaEquipos {
              padding: 10px;
              margin: 0 auto;
              list-style-type: decimal; }
              body main .principal .programa .contenedor .contenedorCruces .casillaEquipos li {
                width: 100%;
                margin: 0 auto;
                background-color: rgba(128, 128, 128, 0.555);
                font-size: 1.5rem; }
          body main .principal .programa .contenedor .tablaEquipos {
            border-collapse: collapse;
            margin: 10px auto;
            padding: 10px;
            background-color: rgba(255, 0, 0, 0.541);
            border-radius: 5px;
            font-size: 1rem; }
            body main .principal .programa .contenedor .tablaEquipos .tablaHead th {
              background-color: #b9b9b9;
              padding: 10px; }
            body main .principal .programa .contenedor .tablaEquipos .tablaBody td {
              background-color: #b9b9b9;
              padding: 10px; }
            body main .principal .programa .contenedor .tablaEquipos .thead {
              margin: 5px;
              padding: 5px;
              font-family: 'Roboto', sans-serif;
              font-size: calc(0.3rem + 1vw); }
        body main .principal .programa .principal1 {
          margin: 40px 20px 20px 20px;
          padding: 10px;
          background-color: rgba(0, 0, 0, 0.288);
          border-radius: 15px; }
          body main .principal .programa .principal1 h1 {
            font-size: 2rem;
            color: #e94646;
            display: flex;
            justify-content: center;
            text-decoration: underline; }
          body main .principal .programa .principal1 h2 {
            font-size: 2rem;
            color: #e94646;
            display: flex;
            justify-content: center;
            text-decoration: underline; }
          body main .principal .programa .principal1 h3 {
            margin: 20px auto;
            font-weight: bold;
            font-size: 48px;
            display: flex;
            justify-content: center; }
          body main .principal .programa .principal1 h4 {
            background-color: rgba(255, 255, 255, 0.541);
            border-radius: 20px;
            font-size: 1.5rem;
            display: flex;
            justify-content: center; }
          body main .principal .programa .principal1 .texto_bienvenida {
            margin: 10px;
            padding: 5px;
            font-size: 1.2rem;
            color: #ec7f7f;
            font-weight: bold;
            display: flex;
            justify-content: center; }
          body main .principal .programa .principal1 .formulario {
            margin: 20px auto;
            padding: 10px;
            background-color: rgba(0, 0, 0, 0.288);
            width: fit-content;
            border-radius: 15px;
            display: flex;
            align-items: center; }
            body main .principal .programa .principal1 .formulario p {
              margin-left: 10px;
              margin-right: 10px; }
          body main .principal .programa .principal1 .calculadora {
            margin: 20px auto;
            padding: 10px;
            background-color: rgba(0, 0, 0, 0.288);
            width: fit-content;
            border-radius: 15px;
            align-items: center; }
            body main .principal .programa .principal1 .calculadora button {
              width: max-content;
              padding: 5px;
              border-radius: 8px;
              border-color: #616161; }
            body main .principal .programa .principal1 .calculadora input {
              font-weight: bold; }
            body main .principal .programa .principal1 .calculadora #valor1 {
              width: 40%;
              padding: 5px;
              border-radius: 8px; }
            body main .principal .programa .principal1 .calculadora #valor2 {
              width: 45%;
              padding: 5px;
              border-radius: 8px; }
          body main .principal .programa .principal1 .contador {
            margin: 20px auto;
            padding: 10px;
            background-color: rgba(0, 0, 0, 0.288);
            width: fit-content;
            border-radius: 15px; }
          body main .principal .programa .principal1 .navBar {
            display: flex;
            width: 100%; }
            body main .principal .programa .principal1 .navBar .lista_servicios {
              margin: 50px auto;
              padding: 20px;
              width: 90%;
              max-width: 100%;
              background-color: rgba(255, 255, 255, 0.452);
              border-radius: 10px;
              list-style: none; }
              body main .principal .programa .principal1 .navBar .lista_servicios li {
                display: inline-block;
                text-align: center; }
                body main .principal .programa .principal1 .navBar .lista_servicios li:hover {
                  background-color: rgba(0, 0, 0, 0.164); }
                body main .principal .programa .principal1 .navBar .lista_servicios li a {
                  padding: 20px;
                  text-decoration: none;
                  font-size: 20px;
                  display: block; } }
