.navBarI {
  background-color: rgba(0, 0, 0, 0.719);
  position: fixed;
  top: 0;
  width: 100%;
  min-height: 90px;
  z-index: 1; }
  .navBarI .logo {
    height: 80px;
    margin-bottom: 1rem;
    border-radius: 15px; }

.color {
  color: white; }

.size {
  font-weight: bold; }

.principal {
  margin: 20px;
  margin-top: 150px;
  padding: 10px;
  border-radius: 15px; }
  .principal h1 {
    font-size: calc(1.5rem + 1vw);
    color: white;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    text-decoration: underline; }
  .principal .texto_bienvenida {
    margin: 10px;
    padding: 5px;
    font-size: 1.2rem;
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: center; }
  .principal .programa {
    padding: 20px;
    margin: 0 auto;
    margin-top: 40px;
    width: 80%;
    min-height: 700px;
    background-color: rgba(54, 54, 54, 0.377);
    border: solid 1px;
    border-radius: 9px;
    align-items: center;
    box-shadow: 0 5px 4px rgba(0, 0, 0, 0.2); }
    .principal .programa .botonE {
      margin: 10px;
      padding: 5px;
      width: min-content;
      height: min-content;
      font-family: 'Roboto', sans-serif;
      background-color: #000000b6;
      color: white;
      border: none;
      cursor: pointer;
      border-radius: 8px;
      text-transform: uppercase; }
      .principal .programa .botonE:hover {
        border: solid 1px; }
    .principal .programa .boton {
      padding: 10px;
      margin: 20px;
      font-family: 'Roboto', sans-serif;
      background-color: #000000b6;
      color: white;
      border: none;
      border-radius: 8px;
      cursor: pointer;
      text-transform: uppercase;
      transition: .3s ease-in-out all; }
      .principal .programa .boton:hover {
        border: solid 2px; }
    .principal .programa .formularioTitulo {
      margin: 10px;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      border-radius: 3px;
      box-shadow: 0 5px 4px rgba(0, 0, 0, 0.2); }
      .principal .programa .formularioTitulo h3 {
        width: 100%;
        margin: 0 auto;
        font-weight: bold;
        font-size: calc(1rem + 1vw);
        font-family: 'Roboto', sans-serif;
        color: white;
        align-items: center;
        display: flex;
        justify-content: center; }
      .principal .programa .formularioTitulo #inputTitulo {
        width: 100%;
        margin: 0 auto;
        font-weight: bold;
        font-size: calc(1.5rem + 1vw);
        background-color: rgba(0, 0, 0, 0);
        color: white;
        display: flex; }
      .principal .programa .formularioTitulo #formularioEdicion {
        display: flex; }
    .principal .programa .contenedor {
      margin: 15px;
      margin-top: 30px;
      width: 100%;
      min-height: 300px;
      display: flex;
      flex-direction: row;
      justify-content: space-between; }
      .principal .programa .contenedor .listaEquipos {
        margin: 10px auto;
        padding: 10px;
        max-width: auto;
        background-color: rgba(83, 83, 83, 0.384);
        border-radius: 5px;
        font-size: 1rem;
        color: white;
        list-style-type: none;
        box-shadow: 0 5px 4px rgba(0, 0, 0, 0.2);
        display: flex;
        flex-direction: column; }
        .principal .programa .contenedor .listaEquipos form {
          display: flex;
          flex-direction: column;
          align-items: center; }
          .principal .programa .contenedor .listaEquipos form label {
            margin-bottom: 5px;
            font-family: 'Roboto', sans-serif;
            font-size: calc(0.4rem + 1vw);
            font-weight: bold; }
          .principal .programa .contenedor .listaEquipos form input {
            margin-bottom: 10px;
            padding: 5px;
            background-color: rgba(85, 85, 85, 0.247);
            border: solid 1px;
            border-radius: 8px; }
        .principal .programa .contenedor .listaEquipos .boton_inicio {
          margin: 20px auto;
          display: flex;
          justify-content: center;
          max-width: 250px;
          min-height: 60px; }
          .principal .programa .contenedor .listaEquipos .boton_inicio .boton_programa {
            margin: 0 auto;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            max-height: 80px;
            background: #221fbd1f;
            color: #fff;
            font-family: 'Roboto', sans-serif;
            font-size: 20px;
            font-weight: 500;
            border: none;
            cursor: pointer;
            text-transform: uppercase;
            transition: .3s ease all;
            border-radius: 5px;
            position: relative;
            overflow: hidden; }
            .principal .programa .contenedor .listaEquipos .boton_inicio .boton_programa .icono {
              display: flex;
              align-items: center;
              position: absolute;
              z-index: 2;
              left: -40px;
              transition: .3s ease-in-out all;
              opacity: 0; }
              .principal .programa .contenedor .listaEquipos .boton_inicio .boton_programa .icono svg {
                color: #fff;
                width: 35px;
                height: 35px; }
            .principal .programa .contenedor .listaEquipos .boton_inicio .boton_programa .span {
              position: relative;
              transition: .4s ease-in-out all;
              position: absolute;
              left: 50%;
              transform: translateX(-50%); }
            .principal .programa .contenedor .listaEquipos .boton_inicio .boton_programa:hover .icono {
              left: calc(100% - 50px);
              opacity: 1; }
            .principal .programa .contenedor .listaEquipos .boton_inicio .boton_programa:hover .span {
              left: 30%; }
        .principal .programa .contenedor .listaEquipos .imagenTorneo {
          margin: 50px;
          width: 80px;
          height: 80px; }
      .principal .programa .contenedor .listaEquipos {
        margin: 10px auto;
        padding: 10px;
        max-width: auto;
        background-color: rgba(83, 83, 83, 0.384);
        border-radius: 5px;
        font-size: 1rem;
        color: white;
        list-style-type: none;
        box-shadow: 0 5px 4px rgba(0, 0, 0, 0.2);
        display: flex;
        flex-direction: column; }
        .principal .programa .contenedor .listaEquipos form {
          display: flex;
          flex-direction: column;
          align-items: center; }
          .principal .programa .contenedor .listaEquipos form label {
            margin-bottom: 5px;
            font-family: 'Roboto', sans-serif;
            font-size: calc(0.4rem + 1vw);
            font-weight: bold; }
          .principal .programa .contenedor .listaEquipos form input {
            margin-bottom: 10px;
            padding: 5px;
            background-color: rgba(85, 85, 85, 0.247);
            border: solid 1px;
            border-radius: 8px; }
        .principal .programa .contenedor .listaEquipos .boton_inicio {
          margin: 20px auto;
          display: flex;
          justify-content: center;
          max-width: 250px;
          min-height: 60px; }
          .principal .programa .contenedor .listaEquipos .boton_inicio .boton_programa {
            margin: 0 auto;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            max-height: 80px;
            background: #221fbd1f;
            color: #fff;
            font-family: 'Roboto', sans-serif;
            font-size: 20px;
            font-weight: 500;
            border: none;
            cursor: pointer;
            text-transform: uppercase;
            transition: .3s ease all;
            border-radius: 5px;
            position: relative;
            overflow: hidden; }
            .principal .programa .contenedor .listaEquipos .boton_inicio .boton_programa .icono {
              display: flex;
              align-items: center;
              position: absolute;
              z-index: 2;
              left: -40px;
              transition: .3s ease-in-out all;
              opacity: 0; }
              .principal .programa .contenedor .listaEquipos .boton_inicio .boton_programa .icono svg {
                color: #fff;
                width: 35px;
                height: 35px; }
            .principal .programa .contenedor .listaEquipos .boton_inicio .boton_programa .span {
              position: relative;
              transition: .4s ease-in-out all;
              position: absolute;
              left: 50%;
              transform: translateX(-50%); }
            .principal .programa .contenedor .listaEquipos .boton_inicio .boton_programa:hover .icono {
              left: calc(100% - 50px);
              opacity: 1; }
            .principal .programa .contenedor .listaEquipos .boton_inicio .boton_programa:hover .span {
              left: 30%; }
        .principal .programa .contenedor .listaEquipos .imagenTorneo {
          margin: 50px;
          width: 80px;
          height: 80px; }
      .principal .programa .contenedor .contenedorCruces {
        margin: 10px auto;
        padding: 15px;
        width: auto;
        min-height: 200px;
        max-height: 700px;
        background-color: rgba(17, 0, 255, 0.384);
        border-radius: 5px;
        color: white;
        overflow: auto;
        position: relative;
        box-shadow: 0 5px 4px rgba(0, 0, 0, 0.2);
        display: flex;
        flex-direction: column; }
        .principal .programa .contenedor .contenedorCruces h3 {
          margin: 45px auto;
          font-family: 'Roboto', sans-serif;
          font-size: calc(0.4rem + 1vw);
          font-weight: bold;
          text-decoration: underline; }
        .principal .programa .contenedor .contenedorCruces .casillaEquipos {
          margin: auto;
          padding: 0;
          width: 95%;
          list-style-type: decimal;
          background-color: rgba(128, 128, 128, 0.555);
          border-radius: 8px;
          display: flex;
          justify-content: center;
          flex-direction: column; }
          .principal .programa .contenedor .contenedorCruces .casillaEquipos .tituloFecha {
            margin: 15px auto;
            width: 100%;
            text-decoration: solid underline;
            color: black;
            font-weight: bold;
            background-color: rgba(0, 0, 0, 0.308);
            display: flex;
            justify-content: center;
            align-items: center; }
          .principal .programa .contenedor .contenedorCruces .casillaEquipos ul {
            padding: 0;
            margin: 0 auto;
            list-style-type: decimal;
            display: flex;
            flex-direction: column; }
            .principal .programa .contenedor .contenedorCruces .casillaEquipos ul li {
              width: 100%;
              margin: 0 auto;
              font-size: 1.5rem;
              display: flex; }
              .principal .programa .contenedor .contenedorCruces .casillaEquipos ul li input {
                margin: 5px;
                display: flex;
                justify-content: end;
                flex-direction: column; }
          .principal .programa .contenedor .contenedorCruces .casillaEquipos .faseTorneo {
            width: 100;
            margin: 0 auto;
            display: flex;
            justify-content: center;
            flex-direction: column; }
            .principal .programa .contenedor .contenedorCruces .casillaEquipos .faseTorneo .cruceTorneo {
              width: 100%;
              margin: 0 auto; }
      .principal .programa .contenedor .tablaEquipos {
        border-collapse: collapse;
        margin: 10px auto;
        padding: 10px;
        width: auto;
        min-height: 200px;
        height: 300px;
        max-height: 700px;
        overflow: auto;
        background-color: rgba(255, 0, 0, 0.329);
        border-radius: 5px;
        font-size: 1rem;
        color: white;
        box-shadow: 0 5px 4px rgba(0, 0, 0, 0.2); }
        .principal .programa .contenedor .tablaEquipos .inputEquipo {
          width: 80%; }
        .principal .programa .contenedor .tablaEquipos .inputPuntos {
          width: 80%; }
        .principal .programa .contenedor .tablaEquipos .equipoDes {
          text-align: center; }
        .principal .programa .contenedor .tablaEquipos .tablaHead th {
          background-color: #b9b9b9;
          padding: 10px;
          margin: 10px;
          color: black; }
        .principal .programa .contenedor .tablaEquipos .thead th {
          margin: 5px;
          padding: 5px;
          font-family: 'Roboto', sans-serif;
          font-size: calc(0.3rem + 1vw); }

.principalSE {
  margin: 20px;
  margin-top: 150px;
  padding: 10px;
  border-radius: 15px; }
  .principalSE h1 {
    font-size: calc(1.5rem + 1vw);
    color: white;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    text-decoration: underline; }
  .principalSE .texto_bienvenida {
    margin: 10px;
    padding: 5px;
    font-size: 1.2rem;
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: center; }
  .principalSE .programaSE {
    padding: 20px;
    margin: 0 auto;
    margin-top: 40px;
    width: 80%;
    min-height: 700px;
    background-color: rgba(54, 54, 54, 0.377);
    border: solid 1px;
    border-radius: 9px;
    align-items: center;
    box-shadow: 0 5px 4px rgba(0, 0, 0, 0.2); }
    .principalSE .programaSE .botonE {
      margin: 10px;
      padding: 5px;
      width: min-content;
      height: min-content;
      font-family: 'Roboto', sans-serif;
      background-color: #000000b6;
      color: white;
      border: none;
      cursor: pointer;
      border-radius: 8px;
      text-transform: uppercase; }
      .principalSE .programaSE .botonE:hover {
        border: solid 1px; }
    .principalSE .programaSE .boton {
      padding: 10px;
      margin: 20px;
      font-family: 'Roboto', sans-serif;
      background-color: #000000b6;
      color: white;
      border: none;
      border-radius: 8px;
      cursor: pointer;
      text-transform: uppercase;
      transition: .3s ease-in-out all; }
      .principalSE .programaSE .boton:hover {
        border: solid 2px; }
    .principalSE .programaSE .formularioTitulo {
      margin: 10px;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      border-radius: 3px;
      box-shadow: 0 5px 4px rgba(0, 0, 0, 0.2); }
      .principalSE .programaSE .formularioTitulo h3 {
        width: 100%;
        margin: 0 auto;
        font-weight: bold;
        font-size: calc(1rem + 1vw);
        font-family: 'Roboto', sans-serif;
        color: white;
        align-items: center;
        display: flex;
        justify-content: center; }
      .principalSE .programaSE .formularioTitulo #inputTitulo {
        width: 100%;
        margin: 0 auto;
        font-weight: bold;
        font-size: calc(1.5rem + 1vw);
        background-color: rgba(0, 0, 0, 0);
        color: white;
        display: flex; }
      .principalSE .programaSE .formularioTitulo #formularioEdicion {
        display: flex; }
    .principalSE .programaSE .contenedorSE {
      margin: 15px;
      margin-top: 30px;
      width: 100%;
      min-height: 300px;
      display: flex;
      flex-direction: row;
      justify-content: space-between; }
      .principalSE .programaSE .contenedorSE .listaEquipos {
        margin: 10px auto;
        padding: 10px;
        max-width: auto;
        background-color: rgba(83, 83, 83, 0.384);
        border-radius: 5px;
        font-size: 1rem;
        color: white;
        list-style-type: none;
        box-shadow: 0 5px 4px rgba(0, 0, 0, 0.2);
        display: flex;
        flex-direction: column; }
        .principalSE .programaSE .contenedorSE .listaEquipos form {
          display: flex;
          flex-direction: column;
          align-items: center; }
          .principalSE .programaSE .contenedorSE .listaEquipos form label {
            margin-bottom: 5px;
            font-family: 'Roboto', sans-serif;
            font-size: calc(0.4rem + 1vw);
            font-weight: bold; }
          .principalSE .programaSE .contenedorSE .listaEquipos form input {
            margin-bottom: 10px;
            padding: 5px;
            background-color: rgba(85, 85, 85, 0.247);
            border: solid 1px;
            border-radius: 8px; }
        .principalSE .programaSE .contenedorSE .listaEquipos .boton_inicio {
          margin: 20px auto;
          display: flex;
          justify-content: center;
          max-width: 250px;
          min-height: 60px; }
          .principalSE .programaSE .contenedorSE .listaEquipos .boton_inicio .boton_programa {
            margin: 0 auto;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            max-height: 80px;
            background: #221fbd1f;
            color: #fff;
            font-family: 'Roboto', sans-serif;
            font-size: 20px;
            font-weight: 500;
            border: none;
            cursor: pointer;
            text-transform: uppercase;
            transition: .3s ease all;
            border-radius: 5px;
            position: relative;
            overflow: hidden; }
            .principalSE .programaSE .contenedorSE .listaEquipos .boton_inicio .boton_programa .icono {
              display: flex;
              align-items: center;
              position: absolute;
              z-index: 2;
              left: -40px;
              transition: .3s ease-in-out all;
              opacity: 0; }
              .principalSE .programaSE .contenedorSE .listaEquipos .boton_inicio .boton_programa .icono svg {
                color: #fff;
                width: 35px;
                height: 35px; }
            .principalSE .programaSE .contenedorSE .listaEquipos .boton_inicio .boton_programa .span {
              position: relative;
              transition: .4s ease-in-out all;
              position: absolute;
              left: 50%;
              transform: translateX(-50%); }
            .principalSE .programaSE .contenedorSE .listaEquipos .boton_inicio .boton_programa:hover .icono {
              left: calc(100% - 50px);
              opacity: 1; }
            .principalSE .programaSE .contenedorSE .listaEquipos .boton_inicio .boton_programa:hover .span {
              left: 30%; }
        .principalSE .programaSE .contenedorSE .listaEquipos .imagenTorneo {
          margin: 50px;
          width: 80px;
          height: 80px; }
      .principalSE .programaSE .contenedorSE .listaEquipos {
        margin: 10px auto;
        padding: 10px;
        max-width: auto;
        background-color: rgba(83, 83, 83, 0.384);
        border-radius: 5px;
        font-size: 1rem;
        color: white;
        list-style-type: none;
        box-shadow: 0 5px 4px rgba(0, 0, 0, 0.2);
        display: flex;
        flex-direction: column; }
        .principalSE .programaSE .contenedorSE .listaEquipos form {
          display: flex;
          flex-direction: column;
          align-items: center; }
          .principalSE .programaSE .contenedorSE .listaEquipos form label {
            margin-bottom: 5px;
            font-family: 'Roboto', sans-serif;
            font-size: calc(0.4rem + 1vw);
            font-weight: bold; }
          .principalSE .programaSE .contenedorSE .listaEquipos form input {
            margin-bottom: 10px;
            padding: 5px;
            background-color: rgba(85, 85, 85, 0.247);
            border: solid 1px;
            border-radius: 8px; }
        .principalSE .programaSE .contenedorSE .listaEquipos .boton_inicio {
          margin: 20px auto;
          display: flex;
          justify-content: center;
          max-width: 250px;
          min-height: 60px; }
          .principalSE .programaSE .contenedorSE .listaEquipos .boton_inicio .boton_programa {
            margin: 0 auto;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            max-height: 80px;
            background: #221fbd1f;
            color: #fff;
            font-family: 'Roboto', sans-serif;
            font-size: 20px;
            font-weight: 500;
            border: none;
            cursor: pointer;
            text-transform: uppercase;
            transition: .3s ease all;
            border-radius: 5px;
            position: relative;
            overflow: hidden; }
            .principalSE .programaSE .contenedorSE .listaEquipos .boton_inicio .boton_programa .icono {
              display: flex;
              align-items: center;
              position: absolute;
              z-index: 2;
              left: -40px;
              transition: .3s ease-in-out all;
              opacity: 0; }
              .principalSE .programaSE .contenedorSE .listaEquipos .boton_inicio .boton_programa .icono svg {
                color: #fff;
                width: 35px;
                height: 35px; }
            .principalSE .programaSE .contenedorSE .listaEquipos .boton_inicio .boton_programa .span {
              position: relative;
              transition: .4s ease-in-out all;
              position: absolute;
              left: 50%;
              transform: translateX(-50%); }
            .principalSE .programaSE .contenedorSE .listaEquipos .boton_inicio .boton_programa:hover .icono {
              left: calc(100% - 50px);
              opacity: 1; }
            .principalSE .programaSE .contenedorSE .listaEquipos .boton_inicio .boton_programa:hover .span {
              left: 30%; }
        .principalSE .programaSE .contenedorSE .listaEquipos .imagenTorneo {
          margin: 50px;
          width: 80px;
          height: 80px; }
      .principalSE .programaSE .contenedorSE .contenedorCruces {
        margin: 10px auto;
        padding: 5px 20px 20px 20px;
        width: auto;
        min-height: 200px;
        height: 300px;
        max-height: 700px;
        background-color: rgba(17, 0, 255, 0.274);
        border-radius: 5px;
        color: white;
        overflow: auto;
        position: relative;
        box-shadow: 0 5px 4px rgba(0, 0, 0, 0.2);
        display: flex;
        flex-direction: column; }
        .principalSE .programaSE .contenedorSE .contenedorCruces h3 {
          margin-bottom: 5px;
          font-family: 'Roboto', sans-serif;
          font-size: calc(0.4rem + 1vw);
          font-weight: bold;
          text-decoration: underline; }
        .principalSE .programaSE .contenedorSE .contenedorCruces .casillaEquipos {
          padding: 10px;
          margin: 0 auto;
          list-style-type: decimal; }
          .principalSE .programaSE .contenedorSE .contenedorCruces .casillaEquipos li {
            width: 100%;
            margin: 0 auto;
            background-color: rgba(128, 128, 128, 0.555);
            font-size: 1.5rem; }
      .principalSE .programaSE .contenedorSE .tablaEquiposSE {
        border-collapse: collapse;
        margin: 10px auto;
        padding: 10px;
        width: auto;
        min-height: 200px;
        height: 300px;
        max-height: 700px;
        overflow: auto;
        background-color: rgba(255, 0, 0, 0.329);
        border-radius: 5px;
        font-size: 1rem;
        color: white;
        box-shadow: 0 5px 4px rgba(0, 0, 0, 0.2); }
        .principalSE .programaSE .contenedorSE .tablaEquiposSE .inputEquipo {
          width: 80%; }
        .principalSE .programaSE .contenedorSE .tablaEquiposSE .inputPuntos {
          width: 80%; }
        .principalSE .programaSE .contenedorSE .tablaEquiposSE .equipoDes {
          text-align: center; }
        .principalSE .programaSE .contenedorSE .tablaEquiposSE .tablaHead th {
          background-color: #b9b9b9;
          padding: 10px;
          margin: 10px;
          color: black; }
        .principalSE .programaSE .contenedorSE .tablaEquiposSE .thead th {
          margin: 5px;
          padding: 5px;
          font-family: 'Roboto', sans-serif;
          font-size: calc(0.3rem + 1vw); }

.principal1 {
  margin: 40px 20px 20px 20px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.288);
  border-radius: 15px; }
  .principal1 h1 {
    font-size: 2rem;
    color: #e94646;
    display: flex;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    text-decoration: underline; }
  .principal1 h2 {
    font-size: 2rem;
    color: #e94646;
    display: flex;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    text-decoration: underline; }
  .principal1 h3 {
    margin: 20px auto;
    font-weight: bold;
    font-size: 48px;
    display: flex;
    font-family: 'Roboto', sans-serif;
    justify-content: center; }
  .principal1 h4 {
    background-color: rgba(255, 255, 255, 0.541);
    border-radius: 20px;
    font-size: 1.5rem;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center; }
  .principal1 .texto_bienvenida {
    margin: 10px;
    padding: 5px;
    font-size: 1.2rem;
    color: #ec7f7f;
    font-weight: bold;
    display: flex;
    justify-content: center; }
  .principal1 .formulario {
    margin: 20px auto;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.288);
    width: fit-content;
    border-radius: 15px;
    display: flex;
    align-items: center; }
    .principal1 .formulario p {
      margin-left: 10px;
      margin-right: 10px; }
  .principal1 .calculadora {
    margin: 20px auto;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.288);
    width: fit-content;
    border-radius: 15px;
    align-items: center; }
    .principal1 .calculadora button {
      width: max-content;
      padding: 5px;
      border-radius: 8px;
      border-color: #616161; }
    .principal1 .calculadora input {
      font-weight: bold; }
    .principal1 .calculadora #valor1 {
      width: 40%;
      padding: 5px;
      border-radius: 8px; }
    .principal1 .calculadora #valor2 {
      width: 45%;
      padding: 5px;
      border-radius: 8px; }
  .principal1 .contador {
    margin: 20px auto;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.288);
    width: fit-content;
    border-radius: 15px; }
  .principal1 .navBar {
    display: flex;
    width: 100%; }
    .principal1 .navBar .lista_servicios {
      margin: 50px auto;
      padding: 20px;
      width: 90%;
      max-width: 100%;
      background-color: rgba(255, 255, 255, 0.452);
      border-radius: 10px;
      list-style: none; }
      .principal1 .navBar .lista_servicios li {
        display: inline-block;
        text-align: center; }
        .principal1 .navBar .lista_servicios li:hover {
          background-color: rgba(0, 0, 0, 0.164); }
        .principal1 .navBar .lista_servicios li a {
          padding: 20px;
          text-decoration: none;
          font-size: 20px;
          display: block; }

@media screen and (max-width: 1024px) {
  body {
    background-color: #3b3b3b;
    width: 100%; }
    body main .principal {
      margin: 20px;
      margin-top: 150px;
      padding: 10px;
      background-color: rgba(0, 0, 0, 0.288);
      border-radius: 15px; }
      body main .principal h1 {
        font-size: calc(1.5rem + 1vw);
        color: white;
        font-family: 'Roboto', sans-serif;
        display: flex;
        justify-content: center;
        text-decoration: underline; }
      body main .principal .texto_bienvenida {
        margin: 10px;
        padding: 5px;
        font-size: 1.2rem;
        color: white;
        font-weight: bold;
        display: flex;
        justify-content: center; }
      body main .principal .programa {
        padding: 20px;
        margin: 0 auto;
        width: 100%;
        height: 100%;
        background-color: rgba(54, 54, 54, 0.377);
        border: solid 1px;
        border-radius: 9px;
        align-items: center;
        box-shadow: 0 5px 4px rgba(0, 0, 0, 0.2); }
        body main .principal .programa .botonE {
          width: auto;
          font-family: 'Roboto', sans-serif;
          background-color: #000000b6;
          color: white;
          border: none;
          cursor: pointer;
          text-transform: uppercase; }
          body main .principal .programa .botonE:hover {
            border: solid 1px; }
        body main .principal .programa .boton {
          padding: 10px;
          margin: 10px;
          font-family: 'Roboto', sans-serif;
          background-color: #000000b6;
          color: white;
          border: none;
          cursor: pointer;
          text-transform: uppercase;
          transition: .3s ease-in-out all; }
          body main .principal .programa .boton:hover {
            border: solid 2px; }
        body main .principal .programa .formularioTitulo {
          width: 100%;
          display: flex;
          justify-content: center;
          border-radius: 3px;
          box-shadow: 0 5px 4px rgba(0, 0, 0, 0.2); }
          body main .principal .programa .formularioTitulo h3 {
            width: 100%;
            margin: 0 auto;
            font-weight: bold;
            font-size: calc(1rem + 1vw);
            font-family: 'Roboto', sans-serif;
            color: white;
            align-items: center;
            display: flex;
            justify-content: center; }
          body main .principal .programa .formularioTitulo #inputTitulo {
            width: 100%;
            margin: 0 auto;
            font-weight: bold;
            font-size: calc(1.5rem + 1vw);
            background-color: rgba(0, 0, 0, 0);
            color: white;
            display: flex; }
          body main .principal .programa .formularioTitulo #formularioEdicion {
            display: flex; }
        body main .principal .programa .contenedor {
          display: flex;
          flex-direction: column; }
          body main .principal .programa .contenedor .listaEquipos {
            margin: 10px auto;
            padding: 10px;
            width: 100%;
            max-height: 100%;
            background-color: rgba(32, 32, 32, 0.541);
            border-radius: 5px;
            font-size: 1rem;
            list-style-type: none;
            display: flex; }
            body main .principal .programa .contenedor .listaEquipos form {
              display: flex;
              flex-direction: column;
              align-items: center; }
              body main .principal .programa .contenedor .listaEquipos form label {
                margin-bottom: 5px;
                font-family: 'Roboto', sans-serif;
                font-size: calc(0.4rem + 1vw);
                font-weight: bold; }
              body main .principal .programa .contenedor .listaEquipos form input {
                margin-bottom: 10px;
                padding: 5px; }
          body main .principal .programa .contenedor .boton_inicio {
            margin: 10px auto;
            display: flex;
            justify-content: center;
            max-width: 400px; }
          body main .principal .programa .contenedor .boton_programa {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            max-width: 100%;
            max-height: 80px;
            background: #031994d7;
            color: #fff;
            font-family: 'Roboto', sans-serif;
            font-size: 20px;
            font-weight: 500;
            border: none;
            cursor: pointer;
            text-transform: uppercase;
            transition: .3s ease all;
            border-radius: 5px;
            position: relative;
            overflow: hidden; }
            body main .principal .programa .contenedor .boton_programa .icono {
              display: flex;
              align-items: center;
              position: absolute;
              z-index: 2;
              left: -40px;
              transition: .3s ease-in-out all;
              opacity: 0; }
              body main .principal .programa .contenedor .boton_programa .icono svg {
                color: #fff;
                width: 35px;
                height: 35px; }
            body main .principal .programa .contenedor .boton_programa .span {
              position: relative;
              transition: .4s ease-in-out all;
              position: absolute;
              left: 50%;
              transform: translateX(-50%); }
            body main .principal .programa .contenedor .boton_programa:hover .icono {
              left: calc(100% - 50px);
              opacity: 1; }
            body main .principal .programa .contenedor .boton_programa:hover .span {
              left: 30%; }
          body main .principal .programa .contenedor .contenedorCruces {
            margin: 10px auto;
            padding: 5px 20px 20px 20px;
            width: 100%;
            background-color: rgba(17, 0, 255, 0.541);
            border-radius: 5px;
            color: white;
            overflow: auto;
            max-height: 350px;
            display: flex;
            flex-direction: column; }
            body main .principal .programa .contenedor .contenedorCruces h3 {
              margin-bottom: 5px;
              margin: 0 auto;
              font-family: 'Roboto', sans-serif;
              font-size: calc(1rem + 1vw);
              font-weight: bold;
              text-decoration: underline; }
            body main .principal .programa .contenedor .contenedorCruces .casillaEquipos {
              padding: 10px;
              margin: 0 auto;
              list-style-type: decimal; }
              body main .principal .programa .contenedor .contenedorCruces .casillaEquipos li {
                width: 100%;
                margin: 0 auto;
                background-color: rgba(128, 128, 128, 0.555);
                font-size: 1.5rem; }
          body main .principal .programa .contenedor .tablaEquipos {
            border-collapse: collapse;
            margin: 10px auto;
            padding: 10px;
            width: 100%;
            overflow: auto;
            max-height: 350px;
            background-color: rgba(255, 0, 0, 0.541);
            border-radius: 5px;
            font-size: 1rem; }
            body main .principal .programa .contenedor .tablaEquipos .tablaHead th {
              background-color: #b9b9b9;
              padding: 10px; }
            body main .principal .programa .contenedor .tablaEquipos .tablaBody td {
              background-color: #b9b9b9;
              padding: 10px; }
            body main .principal .programa .contenedor .tablaEquipos .thead {
              margin: 5px;
              padding: 5px;
              font-family: 'Roboto', sans-serif;
              font-size: calc(0.3rem + 1vw); }
        body main .principal .programa .visualTorneo {
          margin: 80px auto;
          width: 300px;
          height: 300px;
          display: flex;
          justify-content: center;
          border: solid 5px;
          border-radius: 5px;
          box-shadow: 0 5px 4px rgba(0, 0, 0, 0.2); }
          body main .principal .programa .visualTorneo h3 {
            margin: 5px;
            color: white;
            font-size: 1.5rem; }
        body main .principal .programa .torneo {
          max-width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 10px;
          padding: 10px; }
        body main .principal .programa .nivel {
          max-width: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          margin-right: 10px; }
        body main .principal .programa .nivel-1 {
          max-width: 100%;
          margin-bottom: 10px; }
        body main .principal .programa .nivel-2 {
          max-width: 100%;
          margin-bottom: 10px; }
        body main .principal .programa .nivel-3 {
          max-width: 100%;
          margin-bottom: 10px; }
        body main .principal .programa .casilla {
          max-width: 100px;
          max-height: 50px;
          background-color: #e9e9e9;
          border: 1px solid #ccc;
          margin: 15px;
          display: flex;
          justify-content: center;
          align-items: center; }
        body main .principal .programa .principal1 {
          margin: 40px 20px 20px 20px;
          padding: 10px;
          background-color: rgba(0, 0, 0, 0.288);
          border-radius: 15px; }
          body main .principal .programa .principal1 h1 {
            font-size: 2rem;
            color: #e94646;
            display: flex;
            justify-content: center;
            text-decoration: underline; }
          body main .principal .programa .principal1 h2 {
            font-size: 2rem;
            color: #e94646;
            display: flex;
            justify-content: center;
            text-decoration: underline; }
          body main .principal .programa .principal1 h3 {
            margin: 20px auto;
            font-weight: bold;
            font-size: 48px;
            display: flex;
            justify-content: center; }
          body main .principal .programa .principal1 h4 {
            background-color: rgba(255, 255, 255, 0.541);
            border-radius: 20px;
            font-size: 1.5rem;
            display: flex;
            justify-content: center; }
          body main .principal .programa .principal1 .texto_bienvenida {
            margin: 10px;
            padding: 5px;
            font-size: 1.2rem;
            color: #ec7f7f;
            font-weight: bold;
            display: flex;
            justify-content: center; }
          body main .principal .programa .principal1 .formulario {
            margin: 20px auto;
            padding: 10px;
            background-color: rgba(0, 0, 0, 0.288);
            width: fit-content;
            border-radius: 15px;
            display: flex;
            align-items: center; }
            body main .principal .programa .principal1 .formulario p {
              margin-left: 10px;
              margin-right: 10px; }
          body main .principal .programa .principal1 .calculadora {
            margin: 20px auto;
            padding: 10px;
            background-color: rgba(0, 0, 0, 0.288);
            width: fit-content;
            border-radius: 15px;
            align-items: center; }
            body main .principal .programa .principal1 .calculadora button {
              width: max-content;
              padding: 5px;
              border-radius: 8px;
              border-color: #616161; }
            body main .principal .programa .principal1 .calculadora input {
              font-weight: bold; }
            body main .principal .programa .principal1 .calculadora #valor1 {
              width: 40%;
              padding: 5px;
              border-radius: 8px; }
            body main .principal .programa .principal1 .calculadora #valor2 {
              width: 45%;
              padding: 5px;
              border-radius: 8px; }
          body main .principal .programa .principal1 .contador {
            margin: 20px auto;
            padding: 10px;
            background-color: rgba(0, 0, 0, 0.288);
            width: fit-content;
            border-radius: 15px; }
          body main .principal .programa .principal1 .navBar {
            display: flex;
            width: 100%; }
            body main .principal .programa .principal1 .navBar .lista_servicios {
              margin: 50px auto;
              padding: 20px;
              width: 90%;
              max-width: 100%;
              background-color: rgba(255, 255, 255, 0.452);
              border-radius: 10px;
              list-style: none; }
              body main .principal .programa .principal1 .navBar .lista_servicios li {
                display: inline-block;
                text-align: center; }
                body main .principal .programa .principal1 .navBar .lista_servicios li:hover {
                  background-color: rgba(0, 0, 0, 0.164); }
                body main .principal .programa .principal1 .navBar .lista_servicios li a {
                  padding: 20px;
                  text-decoration: none;
                  font-size: 20px;
                  display: block; } }

body {
  background: linear-gradient(to right, #222222, #fc701f);
  width: 100%; }
  body main {
    width: auto; }
    body main .h1 {
      margin-top: 200px;
      margin: 200px 10px 50px 10px;
      font-size: calc(1.5rem + 1vw);
      color: white;
      font-family: 'Roboto', sans-serif;
      display: flex;
      justify-content: center;
      text-decoration: underline; }
    body main .imagesContainer {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 20px; }
    body main .imageBox {
      margin: 20px auto;
      position: relative;
      width: 500px;
      height: 500px;
      border: 5px solid #2b2b2b;
      border-radius: 20px;
      overflow: hidden; }
      body main .imageBox img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: all 0.3s ease-in-out; }
        body main .imageBox img:hover {
          transform: scale(1.05); }
      body main .imageBox p {
        font-size: 1rem;
        font-weight: 600;
        position: absolute;
        bottom: 8px;
        left: 15px;
        color: whitesmoke;
        opacity: 0.8; }
    body main .formularioLigas {
      width: fit-content;
      margin: 10px;
      padding: 15px;
      border-radius: 15px;
      background-color: #0e0e0e41;
      color: white; }
      body main .formularioLigas select {
        margin: 5px;
        padding: 5px;
        background-color: #ffffff34;
        border: solid 1px white;
        border-radius: 8px;
        color: white; }
        body main .formularioLigas select option {
          background-color: #22222296; }
      body main .formularioLigas button {
        margin: 5px;
        padding: 5px;
        background-color: #ffffff34;
        border: solid 1px white;
        border-radius: 8px;
        color: white; }
    body main .containerLigas {
      margin: auto;
      display: flex;
      justify-content: center;
      flex-direction: row; }
      body main .containerLigas .tablaPosiciones {
        margin: 0 auto;
        padding: 25px;
        width: fit-content;
        color: #222222;
        font-weight: bold;
        background-color: whitesmoke;
        border-radius: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column; }
        body main .containerLigas .tablaPosiciones h3 {
          margin: 15px auto;
          text-decoration: underline;
          display: flex;
          justify-content: center; }
        body main .containerLigas .tablaPosiciones .ligaElecta {
          margin: 0 auto;
          width: 100%;
          list-style: none;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column; }
          body main .containerLigas .tablaPosiciones .ligaElecta li {
            width: 100%;
            margin: 0 auto;
            padding: 5px;
            border-bottom: #0e0e0e;
            border: solid; }
            body main .containerLigas .tablaPosiciones .ligaElecta li img {
              max-width: 25px; }
      body main .containerLigas .carruselLigas {
        margin: 10px auto;
        width: 600px; }
        body main .containerLigas .carruselLigas img {
          margin: 0 auto;
          width: 500x;
          height: 600px; }
    body main .descripcionNos {
      margin-top: 100px;
      margin-bottom: 100px;
      padding: 50px;
      height: 500px;
      background-image: url(../assets/fondo.png);
      background-size: cover;
      background-repeat: no-repeat;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center; }
      body main .descripcionNos .textoNos {
        margin: 0 auto;
        color: white;
        font-size: 1.5rem;
        font-weight: bold; }

footer {
  width: 100%;
  position: relative;
  margin-top: 50px;
  bottom: 0;
  left: 0;
  padding: 2rem 8%;
  background-color: #0e0e0e;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  footer .logo {
    height: 80px;
    margin-bottom: 1rem;
    border-radius: 15px; }
  footer .redesSociales, footer .footerMenu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 1rem; }
  footer .iconosRedes {
    height: 50px;
    width: 50px;
    border-radius: 50px;
    border: 1px solid #f2f2f2;
    background-position: center;
    background-size: 40px;
    background-repeat: no-repeat;
    margin: 1rem; }
    footer .iconosRedes:hover {
      background-color: #ffffff;
      filter: invert(1); }
  footer .iconosRedes:nth-of-type(1) {
    background-image: url(../assets/icons8-facebook-32.png); }
  footer .iconosRedes:nth-of-type(2) {
    background-image: url(../assets/icons8-instagram-48.png); }
  footer .iconosRedes:nth-of-type(3) {
    background-image: url(../assets/icons8-linkedin-48.png); }
  footer .iconosRedes:nth-of-type(4) {
    background-image: url(../assets/icons8-twitter-50.png); }
  footer .footerMenu {
    list-style-type: none;
    color: #f2f2f2;
    font-size: 18px; }
  footer .item {
    margin: 1rem;
    cursor: pointer;
    opacity: 0.6; }
    footer .item:hover {
      opacity: 1; }
    footer .item .copyright {
      color: #f2f2f2;
      opacity: 0.3;
      text-align: center; }
