@import "header";
@import "eventosDeportivos";
@import "programasJava";
@import "mediaQuerries";
body{
    background: linear-gradient(to right, #222222, #fc701f);
    width: 100%;
    main{
        width: auto;

        .formularioLigas{
          width: fit-content;
          margin: 10px auto;
          margin-top: 250px;
          padding: 15px;
          border-radius: 15px;
          background-color: #0e0e0e41;
          color: white;
          h3{
            margin: 10px auto;
            text-decoration: underline;
            display: flex;
            justify-content: center;
          }
        }
        .containerLigas{
          margin: auto;
          display: flex;
          justify-content: center;
          .tablaPosiciones{
            margin: 0 auto;
            padding: 25px;
            width:fit-content;
            color: #222222;
            font-weight: bold;
            background-color: whitesmoke;
            border-radius: 15px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
            .ligaElecta{
              margin: 0 auto;
              width: 100%;
              list-style: none;
              display: flex;
              justify-content: center;
              align-items: center;
              flex-direction: column;
              
              li{
                width: 100%;
                margin: 0 auto;
                padding: 5px;
                border-bottom: #0e0e0e;
                border: solid; 
                img{
                  max-width: 25px;
                }
              }
            }
          }
          .carruselLigas{
            margin: 10px auto;
            width: 600px;

            img{
              margin: 0 auto;
              width: 500x;
              height: 600px;
            }
          }
        }
        
      .descripcionNos{
        margin-top: 100px;
        margin-bottom: 100px;
        padding: 50px;
        height: 500px;
        background-image: url(../assets/fondo.png);
        background-size: cover;
        background-repeat: no-repeat;
        text-align: center;
          display: flex;
          justify-content: center;
          align-items: center;
        .textoNos{
          margin: 0 auto;
          color: white;
          font-size: 1.5rem;
          font-weight: bold;

        }
      }
    }
    
        
}

footer{
  width: 100%;
  position: relative;
  margin-top: 50px;
  bottom: 0;
  left: 0;
  padding: 2rem 8%;
  background-color: #0e0e0e;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
  .logo{
    height: 80px;
    margin-bottom: 1rem;
    border-radius: 15px;
  }
  .redesSociales, .footerMenu{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap:wrap;
    margin-bottom: 1rem;
  }
  .iconosRedes{
    height: 50px;
    width: 50px;
    border-radius: 50px;
    border: 1px solid #f2f2f2;
    background-position: center;
    background-size: 40px;
    background-repeat: no-repeat;
    margin: 1rem;
    &:hover{
      background-color: #ffffff;
      filter: invert(1);
    }


  }
  .iconosRedes:nth-of-type(1){
    background-image: url(../assets/icons8-facebook-32.png);
  }
  .iconosRedes:nth-of-type(2){
    background-image: url(../assets/icons8-instagram-48.png);
  }
  .iconosRedes:nth-of-type(3){
    background-image: url(../assets/icons8-linkedin-48.png);
  }

  .iconosRedes:nth-of-type(4){
    background-image: url(../assets/icons8-twitter-50.png);
  }

  .footerMenu{
    list-style-type: none;
    color: #f2f2f2;
    font-size: 18px;
  }

  .item{
    margin: 1rem;
    cursor: pointer;
    opacity: 0.6;
    &:hover{
      opacity: 1;
    }
    .copyright{
      color:#f2f2f2;
      opacity: 0.3;
      text-align: center;
    }
  }
}





