@import url("eventosDeportivos");

body{
    background-color:rgb(14, 92, 116);
    width: 100%;
    main{
        .principal{
            margin: 20px;
            padding: 10px;
            background-color: rgba(0, 0, 0, 0.288);
            border-radius: 15px;

            h2{
                font-size: 2rem;
                color: rgb(233, 70, 70);
                display: flex;
                justify-content: center;
                text-decoration: underline;}

            .texto_bienvenida{
                margin: 10px;
                padding: 5px;
                font-size: 1.2rem;
                color: rgb(236, 127, 127);
                font-weight: bold;
                display: flex;
                justify-content: center;}  
                 
            .boton_inicio{
                margin: 20px auto;
                width: 300px;
                display: flex;
                justify-content: center;
                .boton_programa{
                    margin: 0 auto;
                    width: 300px;
                    height: 80px;
                    background-color: rgb(143, 104, 214);
                    border-color:rgb(255, 255, 255);
                    color: rgb(0, 0, 0);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 1.5rem;
                    font-weight: bold;
                    &:hover{
                        border: double;}}}

            .programa{
                margin: 0 auto;
                width: 80%;
                background-color: rgb(158, 158, 158);
                border-radius: 9px;
                align-items: center;

                .formularioTitulo{
                    width: 100%;
                    display: flex ;
                    justify-content: center;
                    background-color: rgb(143, 104, 214);

                    h3{
                        width: 100%;
                        margin: 0 auto;
                        font-weight: bold;
                        font-size: calc(1rem + 1vw);
                        display: flex;
                        justify-content: center;}
    
                    #inputTitulo{
                        width: 100%;
                        margin: 0 auto;
                        font-weight: bold;
                        font-size: calc(1.5rem + 1vw);
                        background-color: rgb(143, 104, 214);
                        display: flex;
                    }

                    #formularioEdicion{
                        display: flex;
                    }
                    
                }
                
                
                .contenedor {
                    display: flex;
                    flex-direction:row;
                    justify-content: space-between;


                    .listaEquipos{
                        margin: 10px auto;
                        padding: 20px;
                        width:min-content;
                        height: min-content;
                        background-color: rgba(255, 0, 0, 0.541);
                        border-radius: 20px;
                        font-size: 1rem;
                        display: flex;
                        
                        form {
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                          
                            label {
                              margin-bottom: 5px;
                              background-color: rgba(255, 255, 255, 0.747);
                            }
                          
                            input {
                              margin-bottom: 10px;
                              padding: 5px;
                            }
                          }

                    }

                    .contenedorCruces{
                        margin: 10px auto;
                        padding: 20px;
                        width:auto;
                        background-color: rgba(17, 0, 255, 0.541);
                        border-radius: 20px;
                        color: white;
                        overflow: auto;
                        max-height: 200px;
                        display: flex;
                        flex-direction: column;
                        h3{
                            font-size: calc(1rem + 1vw);
                        }
                    .casillaEquipos{
                        padding: 30px;
                        margin: 0 auto;
                        list-style-type:decimal;
                        li{
                            width: 100%;
                            margin: 0 auto;
                            background-color: rgba(128, 128, 128, 0.555);
                            font-size: 1.5rem;
                        }
                    }
                    }
                        
    
                    .tablaEquipos{
                        margin: 10px auto;
                        padding: 10px;
                        background-color: rgba(255, 0, 0, 0.541);
                        border-radius: 20px;
                        font-size: 1rem;
                        .thead{
                            background-color: rgba(255, 255, 255, 0.527);
                        }
                    }
                }
                          

                }}


    
        
        }
        
    }



.principal1{
    margin: 40px 20px 20px 20px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.288);
    border-radius: 15px;

        h1{
            font-size: 2rem;
            color: rgb(233, 70, 70);
            display: flex;
            justify-content: center;
            text-decoration: underline;}

        h2{
            font-size: 2rem;
            color: rgb(233, 70, 70);
            display: flex;
            justify-content: center;
            text-decoration: underline;}    

        h3{
            margin: 20px auto;
            font-weight: bold;
            font-size: 48px;
            display: flex;
            justify-content: center;}
        h4{
            background-color: rgba(255, 255, 255, 0.541);
            border-radius: 20px;
            font-size: 1.5rem;
            display: flex;
            justify-content: center;}
        
        .texto_bienvenida{
            margin: 10px;
            padding: 5px;
            font-size: 1.2rem;
            color: rgb(236, 127, 127);
            font-weight: bold;
            display: flex;
            justify-content: center;}    
    
        .formulario{
            margin: 20px auto;
            padding: 10px;
            background-color: rgba(0, 0, 0, 0.288);
            width:fit-content;
            border-radius: 15px;
            display: flex;
            align-items: center;
            p{
                margin-left: 10px;
                margin-right: 10px;}}

        .calculadora{
            margin: 20px auto;
            padding: 10px;
            background-color: rgba(0, 0, 0, 0.288);
            width:fit-content;
            border-radius: 15px;
            align-items: center;
            button{
                width: max-content;
                padding: 5px;
                border-radius: 8px;
                border-color: rgb(97, 97, 97);}
            input{
                font-weight: bold;}
            #valor1{
                width:40%;
                padding: 5px;
                border-radius: 8px;}
            #valor2{
                width:45%;
                padding: 5px;
                border-radius: 8px;}}

        .contador{
            margin: 20px auto;
            padding: 10px;
            background-color: rgba(0, 0, 0, 0.288);
            width:fit-content;
            border-radius: 15px;}

        .navBar{
            display: flex;
            width: 100%;
            .lista_servicios{
                margin: 50px auto;
                padding: 20px;
                width: 90%;
                max-width: 100%;
                background-color: rgba(255, 255, 255, 0.452);
                border-radius: 10px;
                list-style: none;
                li{
                    display:inline-block;
                    text-align: center;
                    &:hover{
                        background-color: rgba(0, 0, 0, 0.164);}
                    a{
                        padding: 20px;
                        text-decoration: none;
                        font-size: 20px;
                        display: block;}}}}

}



@media screen and (max-width:1024px){
    body{
        background-color:rgb(14, 92, 116);
        width: 100%;
        main{
            .principal{
                margin: 20px;
                padding: 10px;
                background-color: rgba(0, 0, 0, 0.288);
                border-radius: 15px;
    
                h2{
                    font-size: 2rem;
                    color: rgb(233, 70, 70);
                    display: flex;
                    justify-content: center;
                    text-decoration: underline;}
    
                .texto_bienvenida{
                    margin: 10px;
                    padding: 5px;
                    font-size: 1.2rem;
                    color: rgb(236, 127, 127);
                    font-weight: bold;
                    display: flex;
                    justify-content: center;}  
                     
                .boton_inicio{
                    margin: 20px auto;
                    width: 300px;
                    display: flex;
                    justify-content: center;
                    .boton_programa{
                        margin: 0 auto;
                        width: 300px;
                        height: 80px;
                        background-color: rgb(143, 104, 214);
                        border-color:rgb(255, 255, 255);
                        color: rgb(0, 0, 0);
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-size: 1.5rem;
                        font-weight: bold;
                        &:hover{
                            border: double;}}}
    
                .programa{
                    margin: 0 auto;
                    width: 80%;
                    background-color: rgb(158, 158, 158);
                    border-radius: 9px;
                    align-items: center;
    
                    .formularioTitulo{
                        width: 100%;
                        display: flex ;
                        justify-content: center;
                        background-color: rgb(143, 104, 214);
    
                        h3{
                            width: 100%;
                            margin: 0 auto;
                            font-weight: bold;
                            font-size: calc(1.5rem + 1vw);
                            display: flex;
                            justify-content: center;}
        
                        #inputTitulo{
                            width: 100%;
                            margin: 0 auto;
                            font-weight: bold;
                            font-size: calc(1.5rem + 1vw);
                            background-color: rgb(143, 104, 214);
                            display: flex;
                        }
    
                        #formularioEdicion{
                            display: flex;
                        }
                        
                    }
                    
                    
                    .contenedor {
                        display: flex;
                        flex-direction:column;
                        justify-content: space-between;
    
    
                        .listaEquipos{
                            margin: 10px auto;
                            padding: 20px;
                            width:min-content;
                            background-color: rgba(255, 0, 0, 0.541);
                            border-radius: 20px;
                            font-size: 1rem;
                            display: flex;
                            
                            form {
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                              
                                label {
                                  margin-bottom: 5px;
                                  background-color: rgba(255, 255, 255, 0.747);
                                }
                              
                                input {
                                  margin-bottom: 10px;
                                  padding: 5px;
                                }
                              }
    
                        }
    
                        .contenedorCruces{
                            margin: 10px auto;
                            padding: 20px;
                            background-color: rgba(25, 0, 255, 0.541);
                            border-radius: 20px;
                            font-size: calc(1rem + 1vw);
                            color: white;
                            display: flex;
                            flex-direction: column;
                        .casillaEquipos{
                            padding: 30px;
                            margin: 0 auto;
                            list-style-type:decimal;
                            li{
                                width: 100%;
                                margin: 0 auto;
                                font-size: 1.5rem;
                            }
                        }
                        }
                            
        
                        .tablaEquipos{
                            margin: 10px auto;
                            padding: 10px;
                            background-color: rgba(255, 0, 0, 0.541);
                            border-radius: 20px;
                            font-size: 1rem;
                            .thead{
                                background-color: rgba(255, 255, 255, 0.527);
                            }
                        }
                    }
                              
    
                    }}
    
    
        
            
            }
            
        }
    
    
    
    .principal1{
        margin: 40px 20px 20px 20px;
        padding: 10px;
        background-color: rgba(0, 0, 0, 0.288);
        border-radius: 15px;
    
            h1{
                font-size: 2rem;
                color: rgb(233, 70, 70);
                display: flex;
                justify-content: center;
                text-decoration: underline;}
    
            h2{
                font-size: 2rem;
                color: rgb(233, 70, 70);
                display: flex;
                justify-content: center;
                text-decoration: underline;}    
    
            h3{
                margin: 20px auto;
                font-weight: bold;
                font-size: 48px;
                display: flex;
                justify-content: center;}
            h4{
                background-color: rgba(255, 255, 255, 0.541);
                border-radius: 20px;
                font-size: 1.5rem;
                display: flex;
                justify-content: center;}
            
            .texto_bienvenida{
                margin: 10px;
                padding: 5px;
                font-size: 1.2rem;
                color: rgb(236, 127, 127);
                font-weight: bold;
                display: flex;
                justify-content: center;}    
        
            .formulario{
                margin: 20px auto;
                padding: 10px;
                background-color: rgba(0, 0, 0, 0.288);
                width:fit-content;
                border-radius: 15px;
                display: flex;
                align-items: center;
                p{
                    margin-left: 10px;
                    margin-right: 10px;}}
    
            .calculadora{
                margin: 20px auto;
                padding: 10px;
                background-color: rgba(0, 0, 0, 0.288);
                width:fit-content;
                border-radius: 15px;
                align-items: center;
                button{
                    width: max-content;
                    padding: 5px;
                    border-radius: 8px;
                    border-color: rgb(97, 97, 97);}
                input{
                    font-weight: bold;}
                #valor1{
                    width:40%;
                    padding: 5px;
                    border-radius: 8px;}
                #valor2{
                    width:45%;
                    padding: 5px;
                    border-radius: 8px;}}
    
            .contador{
                margin: 20px auto;
                padding: 10px;
                background-color: rgba(0, 0, 0, 0.288);
                width:fit-content;
                border-radius: 15px;}
    
            .navBar{
                display: flex;
                width: 100%;
                .lista_servicios{
                    margin: 50px auto;
                    padding: 20px;
                    width: 90%;
                    max-width: 100%;
                    background-color: rgba(255, 255, 255, 0.452);
                    border-radius: 10px;
                    list-style: none;
                    li{
                        display:inline-block;
                        text-align: center;
                        &:hover{
                            background-color: rgba(0, 0, 0, 0.164);}
                        a{
                            padding: 20px;
                            text-decoration: none;
                            font-size: 20px;
                            display: block;}}}}
    
    }
}
    